<ul class="navbar">
    <li>
      <a href="#" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a href="#" routerLink="rotatingBanner" routerLinkActive="active">Rotating Banner</a>
    </li>
    <li>
      <a href="#" routerLink="productsView" routerLinkActive="active">Products Screen</a>
    </li>
    <li>
      <a href="#" routerLink="countdownTimer1" routerLinkActive="active">Countdown Timer(IO)</a>
    </li>
    <li>
      <a href="#" routerLink="countdownTimer2" routerLinkActive="active">Countdown Timer</a>
    </li>  
    <li>
      <a href="#" routerLink="studentsView" routerLinkActive="active">Students View</a>
    </li> 
     <li>
      <a href="#" routerLink="infiniteScroll" routerLinkActive="active">Infinite Scroll</a>
    </li>
  </ul>