* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    position: static;
}

.container {
    width: 95vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.rotating-text {
    animation: spin 2s infinite linear;
    font-size: 25px;
}

@keyframes spin {
 from { transform: rotate(0deg) }  
 to {transform: rotate(360deg);}
}
